@import url("https://fonts.googleapis.com/css?family=Lato");
.song-text { font-family: 'Lato', sans-serif; font-size: 1em; }

.song-title { text-decoration: underline; }

.song-author { color: darkgrey; }
